@import "../functions";
@import "../mixings";
@import "../variables";
@import "../colors";
html {
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient($Soft_violet 0%, $Soft_blue 70%);
}
.faq {
  text-align: center;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: rem(20);
  margin-top: rem(150);
  padding-bottom: rem(30);
  &_details {
    padding: 0 rem(20);
    h1 {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &_image {
    img {
      margin-top: rem(-100);
    }
  }
  .card {
    border: none;
    text-align: left;
    border-bottom: 1px solid lighten($Dark_grayish_blue, 30%) !important;
  }
  .card-header {
    padding: 0;
    background: none;
    border: none;
    button {
      padding: 0;
      padding: rem(10) 0;
      color: $Dark_grayish_blue;
      font-size: rem(15);
      &:focus,
      &:hover {
        box-shadow: none;
        text-decoration: none;
        color: $Dark_grayish_blue;
      }
    }
  }
  .card-body {
    padding: rem(20) 0;
    padding: 0;
    font-size: rem(14);
  }
}
