@import "../functions";
@import "../mixings";
@import "../variables";
@import "../colors";
html {
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient($Soft_violet 0%, $Soft_blue 70%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.faq {
  text-align: center;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: rem(20);
  margin-top: rem(150);
  padding-bottom: rem(30);
  @include breakpoint-up(medium) {
    width: 70%;
    display: flex;
    text-align: left;
    padding-bottom: 0;
  }
  &_details {
    padding: 0 rem(20);
    @include breakpoint-up(medium) {
      padding: rem(70) rem(30);
      width: 50%;
    }
    h1 {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &_wrapper {
    @include breakpoint-up(medium) {
      position: relative;
      width: 50%;
    }
  }
  &_image {
    @include breakpoint-up(medium) {
      background: url(../../assets/images/bg-pattern-desktop.svg);
      background-position: 120% 60%;
      background-size: 180%;
      display: flex;
      background-repeat: no-repeat;
      align-items: center;
      height: 100%;
    }
    img {
      margin-top: rem(-100);
      @include breakpoint-up(medium) {
        margin: auto;
      }
    }
    .desktop-only {
      @include breakpoint-up(medium) {
        overflow: hidden;
      }
      img {
        @include breakpoint-up(medium) {
          margin-left: -15%;
        }
      }
      &::before {
        @include breakpoint-up(medium) {
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          margin-left: -20%;
          position: absolute;
          top: 0;
          background: url(../../assets/images/illustration-box-desktop.svg);
          background-repeat: no-repeat;
          background-position: left 60%;
        }
      }
    }
  }
  .card {
    border: none;
    text-align: left;
    border-bottom: 1px solid lighten($Dark_grayish_blue, 30%) !important;
  }
  .card-header {
    padding: 0;
    background: none;
    border: none;
    button {
      padding: 0;
      padding: rem(10) 0;
      color: $Dark_grayish_blue;
      font-size: rem(15);
      position: relative;
      width: 100%;
      font-weight: 700;
      text-align: left;
      @include breakpoint-up(medium) {
        font-size: rem(14);
      }
      &:focus,
      &:hover {
        box-shadow: none;
        text-decoration: none;
        color: $Dark_grayish_blue;
      }
      &::before {
        position: absolute;
        content: "";
        display: block;
        background: url(../../assets/images/icon-arrow-down.svg);
        height: 100%;
        background-position: 100%;
        width: rem(10);
        right: 0;
        top: 0;
        background-repeat: no-repeat;
      }
    }
    .collapsed {
      &::before {
        position: absolute;
        content: "";
        display: block;
        background: url(../../assets/images/icon-arrow-down.svg);
        height: 100%;
        transform: rotate(180deg);
        background-position: 100%;
        width: rem(10);
        right: 0;
        top: 0;
        background-repeat: no-repeat;
      }
      font-weight: normal;
    }

    .show {
      font-weight: bold;
    }
  }
  .card-body {
    padding: rem(20) 0;
    padding: 0;
    font-size: rem(14);
    @include breakpoint-up(medium) {
      font-size: rem(13);
      color: lighten($Dark_grayish_blue, 20%);
      line-height: rem(20);
    }
  }
}
